input, texture, select, button {
  font-family: system-ui;
}

:root {
	--link-color: #357b70;
	--link-color-visited: #05676e;
	--link-color-active: #489c79;
	--button-bg-color: #c9d8d1;
	--button-bg-color-secondary: #e0b354;
	--button-color-dark: #2b2b2b;
	--button-color-light: #dcf7f6;
	--padding-much: 20px;
	--padding-less: 10px;
	--font-weight-heading: 700;
	--border-radius-default: 3px;
	--border-bottom-default: 2px solid rgba(0, 0, 0, 0.2);
}

* {
  box-sizing: border-box;
}

html, body, header, footer {
	font-family: 'Anek Devanagari', sans-serif;
	font-weight: 400;

  font-size: 16px;
  line-height: 1.6;
  font-color: black;
}

button {
  border: none;
  font-family: inherit;
  background-color: var(--button-bg-color);
  color: var(--button-color-dark);
  text-decoration: none;
  padding: var(--padding-less);
  border-radius: var(--border-radius-default);
  border-bottom: var(--border-bottom-default);
  margin: 10px;
}

button:hover, button:focus {
  cursor: pointer;
  opacity: 0.4;
}

li {
	list-style-type: none;
}


/* class styling below here*/
.pokemon-list {
	list-style-type: none;
}

.modal {
  margin: auto;
  display: inline-block;
  box-sizing: border-box;
  background: #fff;
  padding: 15px;
  width: 100%;
  max-width: 700px;
  text-align: left;
}

.modal-close {
  float: right;
  -webkit-appearance: none;
  border: 0;
  background: none;
  color: #777;
  text-decoration: underline;
}

.modal h1 {
  margin-top: 0;
}

.modal p {
  margin-bottom: 0;
}

/* ID styling below here */
#modal-container {
	display: none;
}

#modal-container.is-visible {
  position: fixed;
  padding: 20px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  
  /* to show it above other content */
  z-index: 999; 
  
  /* to allow scrolling if the screen is not high enough*/
  overflow: auto; 
  
  /* this is used to center the modal */
  display: grid;
  text-align: center;
}


/* only put media queries below here*/
@media all and (max-width: 500px) {
	.grid {
		grid-template-columns: 1fr;
	}
}

@media all and (min-width: 500px) and (max-width: 750px) {
	.grid {
		grid-template-columns: 1fr 1fr;
	}
}


@media all and (max-width: 750px) {
	.grid {
		grid-gap: 10px;
	}
	.grid__item:last-child {
		grid-column: auto / auto;
		grid-row: auto / auto;
	}
	h1 {
		font-size: 22px;
	}
}