input, texture, select, button {
  font-family: system-ui;
}

* {
  box-sizing: border-box;
}

html, body, header, footer {
	font-family: 'Anek Devanagari', sans-serif;
	font-weight: 400;

  font-size: 16px;
  line-height: 1.6;
  font-color: black;
}

button {
  border: none;
  font-family: inherit;
  background-color: #c9d8d1;
  color: #2b2b2b;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  margin: 10px;
}

button:hover, button:focus {
  cursor: pointer;
  opacity: 0.4;
}

li {
	list-style-type: none;
}


/* class styling below here*/
.pokemon-list {
	list-style-type: none;
}


/* only put media queries below here*/
@media all and (max-width: 500px) {
	.grid {
		grid-template-columns: 1fr;
	}
}

@media all and (min-width: 500px) and (max-width: 750px) {
	.grid {
		grid-template-columns: 1fr 1fr;
	}
}


@media all and (max-width: 750px) {
	.grid {
		grid-gap: 10px;
	}
	.grid__item:last-child {
		grid-column: auto / auto;
		grid-row: auto / auto;
	}
	h1 {
		font-size: 22px;
	}
}